@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&displayap=swap');

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/* global.css */


@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Poppins, Inter, Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {

    text-decoration: none;
}

